{% extends 'list/main_template.html' %}
{% load static %}


{% block content %}
<div class="header-bar">
    <h1> {{ mymember.title }}</h1>
    <br>
    
</div>
<p> {{ mymember.description }} </p>
    <p> {{ game_var }} </p>
    <div class="content">
        <input type="text" class="typing-input" maxlength="1">
        <div class="inputs"></div>

        <button class="reset-btn">Reset Game</button>
    </div>

        <p> Return to <a href="{% url 'tasks' %}"> list </a></p>


        <script src="{% static 'list/js/type_game.js' %}"></script>
{% endblock content %}
