{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Memo.it</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    


    <link rel='stylesheet' type='text/css' media='screen' href=" {% static 'list/css/main.css' %}">
    <script src="{% static 'list/js/first_test.js' %}"></script>

</head>

<body>

    <div class="theme_toogle">
            
        <input type="checkbox" class="checkbox_swype" id="night_theme_toogle" aria-hidden="true" >
        <label for="night_theme_toogle" class="label_toogle">
            <i class="sun"></i>
            <i class="moon"></i>
            
            <i class="ball"></i>

        </label>
    </div>


    <div class="container" lang="en">
        {% block content %}

        {% endblock content %}
    </div>

    <script src="{% static 'list/js/functions.js' %}"></script>
</body>
</html>