{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Memo.it</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    


    <!-- <style>
        body {
            background-color:white;
            color:orange;
        }
    </style> -->

    <!-- <link rel='stylesheet' type='text/css' media='screen' href='list/main.css'> -->
    <link rel='stylesheet' type='text/css' media='screen' href=" {% static 'list/css/main.css' %}">
    <script src="{% static 'list/js/first_test.js' %}"></script>
    <!-- <script src='main.js'></script> -->
</head>

<body>
    <div>
        <button onclick="myMessage()">Click me!</button>
    </div>
    <div class="container" lang="en">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>