{% load i18n %}

<html>
    {% if request.user.is_authenticated %}
    <p>{% translate "Hello" %}  {{request.user}}</p>
    <a href="{% url 'logout' %}">{% translate "Logout" %}</a>
    {% else %}
    <a href="{% url 'login'%}">{% translate "Login" %}</a>
    {% endif %}

    <hr>


    <h1> {% translate "My list of things to do" %} </h1>
    <a href="{% url 'task-create' %}">{% translate "Add" %}</a>

    <table>
        <tr>
            <th>{% translate "Your tasks" %}</th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <!-- object_list by default-->
        <tr>
            <td>{{task.title}}</td>
            <td><a href="{% url 'task' task.id %}">{% translate "Show" %}</a></td>
            <td><a href="{% url 'task-update' task.id %}">{% translate "Edit" %}</a></td>
            <td><a href="{% url 'task-delete' task.id %}">{% translate "Delete" %}</a></td>
        </tr>
        {% empty %}
            <h3>{% translate "Your list is empty" %}</h3>
        {% endfor %}
    </table>
</html>